nav {
  margin-bottom: 1rem;
  .name,
  .email {
    margin: 0;
  }
  .name{
    font-weight: lighter;
  }
}
ul.active-tasks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    flex: 0 0 auto;
    padding: 0 1rem;
  }
  .card {
    width: 200px;
    text-align: center;
    .title {
      font-weight: lighter;
      margin-bottom: 0;
    }
    .time {
      font-weight: lighter;
      span.sap {
        vertical-align: text-bottom;
      }
      b:nth-of-type(1) {
        font-size: 2em;
      }
      b:nth-of-type(2) {
        font-size: 1.5em;
      }
      *:last-child {
        margin-left: 0.5rem;
      }
    }
  }
}
.live {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #42b03b;
  margin: auto 0.5rem;
  animation: blink 0.8s ease infinite forwards;
  vertical-align: middle;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.task-list {
  .add-task {
    margin-left: 1rem;
    margin-right: auto;
  }
}

.create-task {
  max-width: 100%;
  width: 500px;
}
